@import "~styles/mixins.scss";
@import "~styles/variables.scss";
.Thumbnail {
  width: $preview-image-min-width;
  height: 175px;
  min-width: $preview-image-min-width;
  object-fit: cover;

  @include media-breakpoint-down(md) {
    width: 100%;
    min-width: 100%;
  }
}
