@import "~styles/mixins.scss";
.DetailHeader,
.DetailBody {
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}


.ComicStoriesWrapper {
  margin-right: 1rem;

  @include media-breakpoint-down(md) {
    margin-right: 0;
  }
}
