@import "~styles/mixins.scss";
@import "~styles/variables.scss";
.LatestComics {
  min-width: $preview-image-min-width !important;
  width: $preview-image-min-width;

  @include media-breakpoint-down(md) {
    width: 100%;
    margin-top: 1rem;
  }
}
