@import "~styles/variables.scss";
@import "~styles/mixins.scss";

.Header {
  background: $primary-color;
  color: white;
  height: 100px;
  width: 100%;

  .Logo {
    height: 50px;
    &:hover {
      cursor: pointer;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
